<div id="app">
  <div class="container">
    <h1 class="title">Vizir</h1>
    <div class="content">
      <label for="origem">Origem (DDD)</label>
      <select (change)="onChange('origin', $event)" name="origem" id="origem">
        <option
          *ngFor="let origin of origins"
          value="{{ origin }}"
          (select)="onKey($event, 'origem')"
          >0{{ origin }}</option
        >
      </select>

      <label for="destino">Destino (DDD)</label>
      <select
        (change)="onChange('destiny', $event)"
        name="destino"
        id="destino"
      >
        <option *ngFor="let destiny of destinations" value="{{ destiny }}"
          >0{{ destiny }}</option
        >
      </select>

      <label for="plano">Plano</label>
      <select (change)="changePlan($event)" name="plano" id="plano">
        <option value="FaleMais 30">FaleMais 30</option>
        <option value="FaleMais 60">FaleMais 60</option>
        <option value="FaleMais 120">FaleMais 120</option>
      </select>

      <label for="tempo">Tempo</label>
      <input
        type="number"
        id="tempo"
        placeholder="Coloque o valor em minutos..."
        (keyup)="onKey($event, 'time')"
      />

      <p *ngIf="!valid.time">Seu valor está errado</p>

      <button type="button" (click)="onSubmit($event)">Ver resultados</button>

      <div class="result">
        <div>
          <h1>Com FaleMais</h1>

          <h3>{{ comFaleMais }} R$</h3>
        </div>

        <div>
          <h1>Sem FaleMais</h1>
          <h3>{{ semFaleMais }} R$</h3>
        </div>
      </div>
    </div>
  </div>
</div>
